:root{
    --accents: rgb(175, 70, 32);
}
/* Styles Sheet for Emadsen Portfolio */
header {
    box-sizing: border-box;
    width: 100%;
    height: 130px;
    color: var(--accents);
    font-family: Arial, Helvetica, sans-serif;
    border: 8px;
    border-style: solid;
    border-color: var(--accents);
    position: sticky;
    top: 0;

}

header img {
    position: absolute;
    width: 85px;
    height: 85px;
    border-radius: 50%;
    margin-left: 100px;
    margin-top: 13px;
    margin-bottom: 10px;
}

header h1 {
    padding-top: 10px; 
    padding-left: 200px;
    font-size: 25px;
    margin-bottom: 0px;
}

header p {
    font-size: 18px;
    margin-top: 5px;
    margin-bottom: 0px;
    padding-left: 190px;
}

header ol {
    display: flex;
    flex-wrap: wrap;
    padding-right: 100px;
    column-gap: 50px;
    margin-top: 8px;
    margin-bottom: 8px;
    position: absolute;
    right: 0;
    border-bottom: 0;
}

header ol li {
    list-style: none;
    display: inline;
}

header a {
    font-family: Arial, Helvetica, sans-serif;
    color: var(--accents);
    text-decoration: none;
    font-weight: bold;
    font-size: large;
    
}

header a:hover {
    text-shadow: 5px 5px 6px rebeccapurple;
}

h2 {
    position: absolute;
    top: 200px;
    left: 400px;
    text-align: initial;
    font-family: 'Cuprum', sans-serif;
    font-size: 48px;
    color: rgb(211, 209, 209);
}

body {
    margin: 0px;
    background-image: url("Media/andras-vas-Bd7gNnWJBkU-unsplash.jpg");
    background-color: rgb(17, 17, 14);
}

.white {
    color: aliceblue;
    position: absolute;
    top: 300px;
    left: 440px;
    text-align: initial;
    font-family: 'Cuprum', sans-serif;
}

.intro {
    font-family: 'Cuprum', sans-serif;
    position: absolute;
    top: 300px;
    left: 355px;
    color: rgb(211, 209, 209);
    size: 20px;
}

.laptop {
    height: 800px;
    width: 100%;
    margin-bottom: 0px;
    background-image: url("../Media/andras-vas-Bd7gNnWJBkU-unsplash.jpg");
    background-size: cover;
    align-items: center;
    justify-content: center;
    background-size: cover;
}

aside {
    position: absolute;
    top: 130px;
    left: 20px;
    width: 290px;
    padding-right: 90px;
    margin-right: 15px;
    margin-right: 30px;
    margin-top: 0px; 
    float: left;
    /* background-color: rgb(112, 116, 94); */
}

aside img {
    border-radius: 10px;
    margin: 50px;
    padding: 8px;
    border: 4px;
    border-style: solid;
    width: 250px;
}

footer {
    box-sizing: border-box;
    border: 8px;
    color: var(--accents);
    border-style: solid;
    border-color: var(--accents);
    clear: both;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}

.altFooter {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
}
/* media screen modifications to be made at 1310 px as well */
@media screen and (max-width: 614px) {
    header{
        height: 145px;
    }
}